<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes Store</title>
</head>
<body>
    <a href="/register">Register</a> ||
    <a href="/login">Login</a> ||
    <a href="/products">Products</a>
    <h1>Shoes Store</h1>
    <h3>Welcome!</h3>
    <img src="https://i.pinimg.com/originals/96/2f/f6/962ff6c2e535eebc9d762cf420b631c8.gif" >
</body>
</html>